### External Testing Controls
export K_SOUP_COV_DO=true # Means you want code coverage
export K_SOUP_COV_MIN_BRANCH=71 # Means you want to enforce X% branch coverage
export K_SOUP_COV_MIN_LINE=90 # Means you want to enforce X% line coverage
export K_SOUP_COV_MIN_HARD=true # Means you want the build to fail if the coverage thresholds are not met
# Available formats are html, xml, rcov, lcov, json, tty
export K_SOUP_COV_MULTI_FORMATTERS="html,tty" # What coverage output formats do you want?
export MAX_ROWS=5 # Setting for simplecov-console gem for tty output, limits to the worst N rows of bad coverage
# export DEBUG=true # allow byebug statements
